<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="http://www.devblocks.com/schema/plugin.xsd">
	<id>wgm.campfire</id>
	<name>37Signals Campfire Integration</name>
	<description>This plugin provides integration with 37Signals Campfire via their API. It is intended to be a bridge used by other plugins to communicate with Campfire services. In addition, a new bot action is added for posting automated messages to Campfire.</description>
	<author>Webgroup Media, LLC.</author>
	<version>1.0.21</version>
	<link>http://www.cerbweb.com/book/latest/plugins/wgm.campfire.html</link>
	<image>plugin.png</image>
 
	<!-- Requirements -->

	<requires>
		<app_version min="7.3" max="7.4.99" />
		<php_extension name="curl" />
	</requires>
 
	<!-- Plugin Dependencies -->
	
	<dependencies>
		<require plugin_id="cerberusweb.core" version="7.3.0" />
	</dependencies>

	<!-- Exported Classes -->
	
	<class_loader>
		<file path="api/App.php">
			<class name="WgmCampfire_API" />
		</file>
	</class_loader>

	<!-- Extensions -->

	<extensions>
		<!-- Plugin Setup -->
		
		<extension point="cerberusweb.plugin.setup">
			<id>wgmcampfire.setup</id>
			<name>Setup</name>
			<class>
				<file>api/App.php</file>
				<name>WgmCampfire_Setup</name>
			</class>
			<params>
				<param key="tab_label" value="Campfire Credentials" />
			</params>
		</extension>

		<!-- Event Actions -->
		
		<extension point="devblocks.event.action">
			<id>wgmcampfire.event.action.post</id>
			<name>Post to Campfire</name>
			<class>
				<file>api/App.php</file>
				<name>WgmCampfire_EventActionPost</name>
			</class>
			<params>
				<param key="label" value="Post to Campfire" />
				<param key="events">
					<value>
						<data key="*" />
					</value>
				</param>
			</params>
		</extension>
		
	</extensions>
</plugin>
